
.text-han {
  font-family: 'Noto Sans TC', sans-serif;
}

@media only screen and (max-width: 600px) {
  .header__content__block {
      font-size: 30px;
      font-weight: bold;
      color: #000000;
  }
  .sub-header__content {
      font-size: 20px;
  }
  .header__content {
    padding-top: 250px;
    padding-bottom: 140px;
  }
}
@media only screen and (min-width: 600px){
  .header__content__block {
      font-size: 50px;
      font-weight: bold;
      color: #000000;
  }
  .sub-header__content {
    font-size: 30px;
    }
  .header__content {
      padding-top: 250px;
      padding-bottom: 140px;
  }
}
@media only screen and (max-height: 600px){
  .header__content {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}
@media only screen and (max-height: 500px){
  .header__content {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .header__content__block {
    font-size: 30px;
    font-weight: bold;
    color: #000000;
  }
  .sub-header__content {
    font-size: 20px;
  }
}
hr.style-cloud {
  border: 0;
  height: 0; /* Firefox... */
  box-shadow: 0 0 3px 1px #F2B950;
}
hr.style-cloud:after {  /* Not really supposed to work, but does */
  content: "\00a0";  /* Prevent margin collapse */
}